In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
congress = pd.read_csv('114_congress.csv')

In [3]:
congress.columns

Index(['name', 'party', 'state', '00001', '00004', '00005', '00006', '00007',
       '00008', '00009', '00010', '00020', '00026', '00032', '00038', '00039',
       '00044', '00047'],
      dtype='object')

In [4]:
congress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
name     100 non-null object
party    100 non-null object
state    100 non-null object
00001    100 non-null float64
00004    100 non-null float64
00005    100 non-null float64
00006    100 non-null float64
00007    100 non-null float64
00008    100 non-null float64
00009    100 non-null float64
00010    100 non-null float64
00020    100 non-null float64
00026    100 non-null float64
00032    100 non-null float64
00038    100 non-null float64
00039    100 non-null float64
00044    100 non-null float64
00047    100 non-null float64
dtypes: float64(15), object(3)
memory usage: 14.1+ KB

In [7]:
X = congress.drop(['party', 'name', 'state'],1)

In [8]:
congressmen = pd.get_dummies(congress.name)

In [9]:
states = pd.get_dummies(congress.state)

In [10]:
X = pd.concat([X, congressmen, states], axis=1)

In [11]:
X = X.sample(frac=0.5)

In [12]:
Y = congress.party

In [13]:
Y = Y.sample(frac=0.5)

In [14]:
# Alright! We've done our prep, let's build the model.
# Neural networks are hugely computationally intensive.
# This may take several minutes to run.

# Import the model.
from sklearn.neural_network import MLPClassifier

# Establish and fit the model, with a single, 1000 perceptron layer.
mlp = MLPClassifier(hidden_layer_sizes=(10000,))
mlp.fit(X, Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [15]:
X.head()

,00001,00004,00005,00006,00007,00008,00009,00010,00020,00026,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
60,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
58,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
98,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
37,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
64,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
mlp.score(X, Y)

1.0

In [17]:
Y.value_counts()/len(Y)

R    0.54
D    0.44
I    0.02
Name: party, dtype: float64

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(mlp, X, Y, cv=10)

C:\Users\Martin\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:626: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.42857143, 0.66666667, 0.8       , 0.6       , 0.4       ,
       0.6       , 1.        , 0.5       , 0.5       , 0.75      ])

In [ ]:
Y

In [ ]:
X

In [ ]:
X.columns